<html>

<link rel="stylesheet" href="public/css/style.css">

<head>
</head>

<body>
    <div class="footer">
        <footer>
            <ul>
                <li>
                    <a href='https://github.com/misssrakiep'><h5>Shameerah Rakip</h5></a>
                </li>
                <li>
                    <a href='https://github.com/dyllon21'><h5>Dyllon Isaacs</h5>
</li>
<li>
<a href='https://github.com/GarethW1994'><h5>Gareth Williams</h5>
</li>
<li>
<a href='https://github.com/Vaztonyo'><h5>Vaztonyo De Vet</h5>
</li>
</ul>
<hr>
</footer>
</div>
</body>
</html>
