<link rel="stylesheet" href="public/css/style.css">
<footer>
<img src="public/images/248e23769823f238fe48a94c0b213036.jpg" alt="Shameera Rakiep" class="shameera"><a href='https://github.com/misssrakiep'>Shameera Rakiep </a>
<img src="public/images/heisencat.png" alt="Dyllon Isaacs" class="dyllon"><a href='https://github.com/GarethW1994'>Dyllon Isaacs </a>
<img src="public/images/dadf6a20353342886904afc6af052b3a.jpg" alt="Gareth Williams" class="gareth"><a href='https://github.com/dyllon21'>Gareth Williams </a>
<img src="public/images/megacat-2.png" alt="Vaztonyo de Wet" class="vaztonyo"><a href='https://github.com/Vaztonyo'>Vaztonyo De Wet </a>
</footer>
