<html>
	<head>
		<title>Jumo Clients Data</title>
		<link rel="stylesheet" href="/css/style.css">
		<script rel="charts" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
	</head>

	<body>
		{{{body}}}
	</body>
</html>
