<html>
	<head>
		<title>Jumo Clients Data</title>
		<link rel="stylesheet" href="/css/style.css">
		<script rel="charts" src="/javascript/Chart.js"></script>
	</head>

	<body>
		{{{body}}}
	</body>
</html>
