<link rel="stylesheet" href="style.css">
<form class="userData" action="addUser" method="post"/>
  <input type="text" name="id" value=""/>
  <input type="text" name="name" value="Please add your name"/>
  <input type="text" name="surname" value="Please add your surname"/>
  <input type="text" name="city" value="Which city do you live in?"/>
  <input type="textarea" name="about" value="Tell us more about yourself..."/>
  <input type="submit" name="submit" value="Submit">
</form>
