<link rel="stylesheet" href="style.css">

<h1>Add The New Users: </h1>

<form class="userData" action="/addUser" method="post"/>
  <input type="text" name="id" placeholder="enter id"/>
  <input type="text" name="name" placeholder="Please add your name"/>
  <input type="text" name="surname" placeholder="Please add your surname"/>
  <input type="text" name="city" placeholder="Which city do you live in?"/>
<h1> Important </h1>
<input type="text" name="categoryImp" placeholder="category name"/>

<input type="text" name="amountImp" placeholder="amount"/>

<input type="text" name="ratingImp" placeholder="rating"/>

<h1> Neutral </h1>
<input type="text" name="categoryNeut" placeholder="category name"/>

<input type="text" name="amountNeut" placeholder="amount"/>

<input type="text" name="ratingNeut" placeholder="rating"/>

<h1> Not Important </h1>
<input type="text" name="categoryNot" placeholder="category name"/>

<input type="text" name="amountNot" placeholder="amount"/>

<input type="text" name="ratingNot" placeholder="rating"/>

	<br/>
  <textarea name="about" placeholder="Tell us more about yourself..."> </textarea>
	<br/>
  <input type="submit" name="submit" value="Submit">
</form>
