{{>header}}

<div class="mainFormContainer">
	<h3>List of Current Beneficiaries</h3>
<div class="containerForm">
<table>
  {{#each user}}
  <tr class="user">
    <td>{{userName}} {{userSurname}}</td>
	  <td><a href="/getUser/{{userID}}"><input type="button" class="user_data" value="View User Profile"></a></td>
  </tr>
{{/each}}
</table>
</div>
</div>

{{>footer}}