{{>header}}

<div class="containerForm">
	<h3>List of Current Beneficiaries</h3>
<table>
  {{#each user}}
  <tr class="user">
    <td>{{userName}} {{userSurname}}</td>
	  <td><a href="/getUser/{{userID}}"><input type="button" class="user_data" value="View User Profile"></a></td>
  </tr>
{{/each}}
</table>
</div>
<br>
<br>
<br>


<h3>See Production Graph:</h3>	
<a href="/graph"><button class="graph_button">View Graph</button></a>


{{>footer}}